
body{
  margin: 0;
}


main{
  margin: auto;
    width: 30%;
    height: 100vh;
    display: flex;
  flex-direction: column;
    justify-content: space-between;
    background-color: rebeccapurple;
  }


    /* Mobile screen (screens smaller than 768px) */
@media (max-width: 768px) {
  main {
    width: 95%; /* Adjust the width for smaller screens (e.g., mobile devices) */
  }
}
